#hobbies,
#childhood,
#carreer{
    width: 100%;
    position: relative;
}
#hobbies .header-link,
#childhood .header-link,
#carreer .header-link{
    justify-content: space-between;
}
.image-container{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.image{
    border-radius: 0;
    object-fit: cover;
    object-position: 50% 30%;
    aspect-ratio: 16/9;
    width: 100%;
}

.heading{
    margin-bottom: 0rem;
}