#about p{
 font-size: 1.25rem;
}

#about p .btn{
    display: inline-flex;
    align-items: baseline;
    flex-direction: row-reverse;
}
#about p .btn .material-symbols-outlined{
    font-size: 1.5rem;
}
#about p .btn .btn-icon-container{
    align-self: center;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    background-color: transparent;
}
#about p .btn .btn-text-container{
    font-size: 1.25rem;
    display: inline-block;
    text-decoration: underline;

}
#hobbies,
#childhood,
#carreer{
    position: relative;
}
#hobbies .btn,
#childhood .btn,
#carreer .btn{
    position: absolute;
    right: 1rem;
}

.image-container{

    margin-top: 1rem;
    margin-bottom: 1rem;
}
.image{
    border-radius: 4%;
    object-fit: cover;
    object-position: center;
    width: 100%;

}