/* Button */
.btn{
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    background-color: transparent;
    color: inherit;
    font-size: 1rem;
    font-weight: 300;
    font-family: inherit;
}

.dark .btn{
    color: #E8D6C2;
}

.btn:hover{
    cursor: pointer;
}

/* Button Content*/
.btn-icon-container{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items:center;
    background-color: #3F485F;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0;
    color: #E8D6C2;
}
.btn-text-container{
    margin-left: 0.5rem;
    white-space: pre-wrap;
}


/* Icons */
.icon{
    width: 1.25rem;
    height: 1.25rem;
}

.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined{
    font-size: 1.25rem;
}

.contrast.btn {
    background:transparent !important;
}

.dark .contrast .btn.contrast .btn-icon-container,
.btn.contrast .btn-icon-container{
    background-color: #252525;
    color: #E8D6C2;
}

.dark .btn.contrast .btn-icon-container,
.contrast .btn.contrast .btn-icon-container{
    background-color: #E8D6C2;
    color: #252525;
}
.dark .btn.contrast .btn-text-container,
.light .contrast .btn.contrast .btn-text-container{
    color: #252525;
}
.dark .contrast .btn.contrast .btn-text-container,
.light .btn.contrast .btn-text-container{
    color: #E8D6C2;
}

.btn.inline{
    display: inline-flex;
    align-items: baseline;
    flex-direction: row-reverse;
}
.btn.inline .material-symbols-outlined{
    font-size: 1.25rem;
}
.btn.inline .btn-icon-container{
    align-self: center;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    background-color: transparent;
}
.btn.inline .btn-text-container{
    font-size: 1rem;
    display: inline-block;
    text-decoration: underline;
    margin-left:0;
}

.btn.icon__fill .btn-icon-container{
    background-color: transparent;
}
.btn.icon__fill .btn-text-container{
    background-color: transparent;
}
.btn.icon__fill .material-symbols-outlined{
    font-variation-settings: "FILL" 1;
}
.btn.icon__fill.primary.contrast .btn-icon-container{
    background-color: transparent;
    color: #E8D6C2;
}
.btn.icon__fill.primary.contrast .btn-text-container{
    color: #E8D6C2;
}
