nav{

}
.spacer{
    flex-grow: 1;
}
nav.container{
    margin-inline: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.25rem;
}

nav .btn-text-container{
}

@media (min-width: 768px) {
    nav .btn-text-container{
        display: inline-block;
    }
}