.project{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.project p{
    width: 100%;
}

.project__image__container{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.project__image{
    border-radius: 0;
    object-fit: contain;
    object-position: center;
    width: 100%;
}