
.about .about__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.about > .gutter {
    background-position: 0% 0%;
    &> .wave{
        width: 100%;
        aspect-ratio: 9/1;
        transform: translateY(1%);
    }

}

.about .about__content > article{
    display: flex; 
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 2rem;

    & > .article__body {
        width: 100%;
    }
    & > .image__container{
        display: flex;

        justify-content: center;
        align-items: center;
        width: 100%;
    }

    & > .image__container > img{
        padding: 2rem;
        border: 2px solid #3F485F;
        box-sizing: border-box;
        width:100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }

    @media screen and (min-width: 768px){
        & > .image__container{
            width: 50%;
        }
        & > .article__body {
            width: 50%;
        }
        &:nth-child(even){
            flex-direction: row;
            text-align: right;
        }
        &:nth-child(odd){
            flex-direction: row-reverse;
        }
    }

    @media screen and (min-width: 1024px) {
        & > .image__container{
            width: 40%;
        }
        & > .article__body {
            width: 60%;
        }
    }
}

