@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
html, body {
    color-scheme: dark light;
    font-family:'Source Sans Pro',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1{
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin:0;
}
h2{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin:0;
}

h3{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin:0;
}

h4{
    font-size: 1rem;
    font-weight: 600;
    margin:0;
}

h5{
    font-size: 1rem;
    font-weight: 400;
    margin:0;
}

p{
    margin:0;
    margin-bottom: 2rem;
}

.dark {
    color: #E8D6C2;
    background-color: #252525;
}
.light {
    color: #252525;
    background-color: #E8D6C2;
}

section{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 1rem 1rem 1rem;
    gap: 0.5rem;
    max-width: 768px;
}

.circle{
    background-color: #3F485F;
    aspect-ratio: 1/1;
    margin-inline: auto 0 0;
    z-index: 0;
    border-radius: 90vh;
    color: #E8D6C2;
}

.contrast{
    background-color: #252525;
    color: #E8D6C2;
}
.dark .contrast{
    background-color: #E8D6C2;
    color: #252525;
}

.primary{
    background-color: #3F485F;
    color: #E8D6C2;
}

.primary.contrast{
    background-color: #E8D6C2;
    color: #3F485F;
}

@media (min-width: 768px) {
    html, body {
        font-size: 16px;
    }

}

@media (min-width: 1024px) {
    html, body {
        font-size: 20px;
    }
}
