$bg-color:#fff;
$heading-color:  #222;
$text-color:  #111;
$accent-color:#311a59;

@media(prefers-color-scheme: dark){
    $bg-color:#222;
    $heading-color: #fff;
    $text-color: #333;
    $accent-color:#311a59;
}